# Lines matching patterns will assign code ownership.
# Adjust GitHub usernames or teams below.

* @Nerdy-Technician
Linux/** @Nerdy-Technician
Windows/** @Nerdy-Technician
.github/workflows/** @Nerdy-Technician